<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-decoration: underline;">Submitted Info</h1>
    <!-- <h3>{{forminfo}}</h3> -->
    <h2>Your Name: {{forminfo.name}}</h2>
    <h2>Dojo Location: {{forminfo.location}}</h2>
    <h2>Favorite language: {{forminfo.language}}</h2>
    <h2>Comment: {{forminfo.comment}}</h2>
</body>
</html>